<div ng-controller="usersController as UC">
    <a href ng-click="UC.logout()">Logout</a>
</div>
<div ng-controller="new_appointmentController as NAC">
  <h4>New Appointment</h4>
  <form name="new_appointment">
    <label>Date:</label>
    <input type="date" name="date" ng-model="NAC.new.date" required>
    <label>Time:</label>
    <input type="time" name="time" ng-model="NAC.new.time" required>
    <label>Complain:</label>
    <textarea name="complain" rows="8" cols="40" ng-model="NAC.new.complain" minlength='10'></textarea>
    <a href="#/"><button>Cancel</button></a>
    <button ng-click="NAC.create(NAC.new)">Add Appointment</button>
  </form>
</div>
